body{
  font-family: 'Trirong', serif;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(90, 110, 122);
  margin: 0 30 auto;
  width: 800px;
  padding: 30px;
}
.current_page {
  font-style: italic;
  font-weight: bold;
}
nav{
  text-align: center;
  color: rgb(90, 110, 122);
  float: right;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
}
nav li {
    display: inline-block;
    padding:0 10px;
    border-right: 1px solid rgb(90, 110, 122);
}
.right_nav{
  border-right: 0;
}
img {
  display: inline-block;
  padding-bottom: 20px;
}
.content {
  padding:40px;
  background-color: rgb(230, 243, 251);
  padding-bottom: 20px;
}
.portfolio{
  padding: 20px;
  background-color: #fff;
  padding-bottom: 0px;
}
.portfolio_pic{
  width: 541px
  margin:0 auto;
  padding-left:69px;
}
h1 {
  font-size: 32px;
  text-align: left;
  color: rgb(90, 110, 122);
  margin-top: 0px;
  padding-bottom: 0px;

}
h3 {
font-size: 25px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(90, 110, 122);
}
.Avator {
  float: right;
  height: 200px;
  padding-left:40px;
  width: 250px;
  height: auto;
  display: inline-block;
  position: relative;
  bottom: 50px;
}
p {
  font-family: helvetica;
}
a{
  font-weight: bold;
  color: rgb(90, 110, 122);
}
.portfolio li{
  font-family: helvetica;
}
.bold_italic{
  font-style: italic;
  font-weight: bold;
}
.bold{
  font-weight: bold;
}
.socialmedia{
  float: left;
  font-size: 14px;
}
